body{
    background-color: grey;
}
.text{
    text-align: center;
    background-color: rgb(28, 189, 23);
    margin: 20px;
    padding: 20px;
}

.user-container{
    text-align: center;
    margin: 30px;
    background-color: rgb(232, 81, 81);
    border-radius: 10%;
}